[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "urlgrep"
version = "1.0.3"
description = ""
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "aiohttp>=3.13.3",
    "aiodns>=3.2.0",
]

[project.scripts]
urlgrep = "urlgrep:run"
